<div class="h2">Kupujący</div>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>L.p</th>
        <th>Nabywca</th>
        <th>Przedmiot</th>
        <th>Ilość</th>
        <th>Cena</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="customer in customers">
        <td>{{$index+1}}</td>
        <td>{{customer.customer}}</td>
        <td>{{customer.item}}</td>
        <td>{{customer.number}}</td>
        <td>{{customer.value}}zł</td>
    </tr>
    </tbody>
</table>