<h1>Opis produktu</h1>
<table class="table table-striped table-condensed">
    <img ng-src="web/uploads/{{ descProduct.image}}" class="img-thumbnail" width="300" height="200">
    <tbody>
    <tr>
        <th>Nazwa: </th>
        <td>{{ descProduct.name }}</td>
    </tr>
    <tr>
        <th>Kategoria: </th>
        <td>{{ descProduct.category }}</td>
    </tr>
    <tr>
        <th>Opis:</th>
        <td>{{ descProduct.description }}</td>
    </tr>
    </tbody>
</table>