<form method="post" ng-controller="EditProduct">
    <h1>Edycja</h1>
    <div id="alert"></div>
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input id="name" name="name" ng-model="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="category">Kategoria</label>
        <select ng-controller="GetCategories" name="category" id="category" class="form-control">
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="desc">Opis</label>
        <textarea id="desc" name="desc">{{ desc }}</textarea>
    </div>

    <div class="form-group">
        <label for="number">Ilość</label>
        <input type="number" name="number" ng-model="number" id="number" class="form-control">
    </div>
    <input type="text" ng-model="id" name="id" id="id" style="display: none;">
    <button class="btn btn-success" ng-click="edit()"><span class="glyphicon glyphicon-pencil"></span> Edytuj</button>
    <button class="btn btn-danger" ng-click="remove(id)"><span class="glyphicon glyphicon-remove-sign"></span> Usuń</button>
</form>