<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th>L.p</th>
        <th data-ng-click="sort='name'">Nazwa</th>
        <th>Miniaturka</th>
        <th data-ng-click="sort='category'">Kategoria</th>
        <th>Ilość</th>
        <th>Numer inwentarzowy</th>
        <th>Edytuj</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in products | filter: {'category' : filterCategory}  | filter: searchText | orderBy: sort track by $index">
        <td data-ng-click="description(product.id)">{{ $index+1 }}</td>
        <td data-ng-click="description(product.id)">{{product.name}}</td>
        <td><img data-ng-src="web/uploads/{{product.image}}" class="img-thumbnail" width="100" height="100"></td>
        <td data-ng-click="description(product.id)">{{product.category}}</td>
        <td><a href="#" data-ng-click="minusOne(product.id)" class="glyphicon glyphicon-minus-sign" style="color:black;text-decoration: none"></a> {{product.number}} szt. <a href="#" class="glyphicon glyphicon-plus-sign" ng-click="addOne(product.id)" style="color:black;text-decoration: none"></a></td>
        <td data-ng-click="description(product.id)">{{product.inventory_key}}</td>
        <td><button class="btn" data-ng-click="openEdit(product.name,product.number,product.id,product.description)">Edytuj <span class="glyphicon glyphicon-chevron-right"></span></button></td>
    </tr>
    </tbody>
</table>