<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown" data-toggle="dropdown"><button class="btn btn-primary dropdown-toggle">Dodaj <span class="glyphicon glyphicon-plus-sign"></span></button></a>
            <ul class="dropdown-menu" role="menu" aria-label="add">
                <li><a href="" data-ng-click="openWindow('add')">Przedmiot</a></li>
                <li><a href="" data-ng-click="openWindow('category')">Kategorie</a></li>
                <li><a href="" data-ng-click="openWindow('addRelease')">Dodaj rozchód</a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-ng-click="Customers()"><button class="btn btn-info">Sprzedane przedmioty</button></a>
        </li>
    </ul>
</nav>

<div class="btn-group" ng-controller="GetCategories" >
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" id="menu" data-toggle="dropdown">Kategorie<span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-label="menu">
            <li ng-repeat="category in categories" ><a data-ng-click="$root.filterCategory=category.name">{{ category.name }}</a></li>
            <li class="divider"></li>
            <li><a data-ng-click="$root.filterCategory = ''">Wyczyść</a></li>
        </ul> : {{ $root.filterCategory }}
    </div>
</div>