<h1>Dodaj produkt</h1>
<form method="post" ng-controller="AddProduct" enctype="multipart/form-data" id="upload">
    <div id="alert"></div>
    <div class="form-group">
        <label for="name">Nazwa</label>
        <input type="text" id="name" name="name" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="category">Kategoria</label>
        <select ng-controller="GetCategories" name="category" id="category" class="form-control">
            <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="desc">Opis</label>
        <textarea id="desc" name="desc"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Obrazek</label>
        <input type="file" name="image" id="image">
    </div>
    <button class="btn btn-success" ng-click="addProduct()">Dodaj</button>
</form>
