<h2>Wydanie produktu</h2>
<form ng-controller="GetCategories" id="addCustomer" method="post">
    <div id="alert"></div>
    <div class="form-group">
        <label for="category">Kategoria</label>
        <select id="category" ng-model="setCategory" ng-change="productCategory()" name="category">
            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
        </select>
    </div>
    <div class="form-group" ng-show="setCategory">
        <label for="item">Przedmiot</label>
        <select name="item" id="item">
            <option ng-repeat="product in chosenProduct" value="{{product.id}}">{{product.name}} ({{product.number}}szt.)</option>
        </select>
    </div>
    <div class="form-group" ng-show="setCategory">
        <label for="number">Ilość</label>
        <input type="number" ng-model="setNumber" id="number" placeholder="Ilość sztuk" name="number" ng-change="checkIfExist()">
    </div>
    <div class="form-group" ng-if="setNumber">
        <label for="customer">Klient</label>
        <input type="text" id="customer" placeholder="Dane odbiorcy" ng-model="setCustomer" name="customer">
    </div>
    <div class="form-group" ng-if="setNumber">
        <label for="value">Wartość</label>
        <input type="number" placeholder="Wartość zamówienia" name="value" id="value" ng-model="setValue">
    </div>
    <button ng-if="setNumber" class="btn btn-success" ng-click="AddCustomer()">Dodaj</button>
</form>