<h2>Dodaj kategorie</h2>
<div id="alert"></div>
<form ng-controller="GetCategories" id="category" method="post">
    <div class="form-group">
        <label for="name">Nazwa grupy</label>
        <input type="text" id="name" name="name">
    </div>

    <div class="form-group">
        <label for="category_key">Znak kategorii</label>
        <input disabled value="{{category_key}}" name='category_key' type="text" maxlength="1" id="category_key" style="width: 30px;"><a href="#" class="glyphicon glyphicon-play" ng-click="setCategoryKey()"></a>
    </div>

    <button class="btn btn-success" ng-click="addCategory()"><span class="glyphicon glyphicon-plus-sign" ></span> Dodaj</button>
</form>